.example-container {
    width: 100%;
    height: 657px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 20px;
}

mat-card.pensum.mat-card {
    margin: 10px;
    border-radius: 0px;
    border: 1px solid;
}

#card-pensum {
    box-shadow: 0 0px 0px 0 transparent;
    border: 1px solid;
    margin: -1px;
    border-radius: 0px;
}

mat-card-content.pensum-content.mat-card-content {
    margin: -16px;
}

.pensum-footer#card-pensum {
    border: 1px solid transparent;
    margin: 0;
}

mat-card.subject-card.mat-card {
    border: 1px solid;
    padding: 5px;
    margin: 2px;
    width: 90px;
    height: 50px;
    border-radius: 0px;
}

// .example-list {
//     width: 101px;
//     height: 100%;
//     border: solid 1px transparent;
//     // background: #f9f9f9;
//     border-radius: 4px;
//     display: block;
// }

.example-list{
    /* width: 63px; */
    /* height: 100%; */
    /* border: solid 1px transparent; */
    /* border-radius: 4px; */
    /* display: block; */
    text-align: -webkit-center;
}

.subjects-column {
    padding: 5px;
}


/* Add application styles & imports to this file! */


.title {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #405065;
    font-size: 36px;
    font-weight: bold;
    line-height: 49px;
  }
  .customBox {
    margin-top: 5%;
    padding: 8px 100px;
    box-shadow: 0 10px 40px 0 #B0C1D9;
    width: 270px;

  }
  
  .alignleft {
    float: left;
  }
  
  .alignright {
    position: relative;
    left: 340px;
    top: -28px;
  }

  .afterright{
    position: relative;
    left: 690px;
    top: -110px;
  }
  
  .connectingConnectorLabel {
      height: 23px;
      width: 110px;
      border-radius: 13px;
      color: #FFFFFF;
      text-align: center;
      z-index:3 !important;
      left: 50% !important;
      background-color: #456;
  }

  .pensum-back{
    height: 630px;
  }

  mat-card.electivas.mat-card {
    width: 99%;
    height: 99%;
    border: 1px solid;
    border-radius: 0px;
}

mat-card.electiva.mat-card {
    border-radius: 0px;
    box-shadow: none;
    height: 40px;
    width: 100%;
    /* margin: 0px; */
    right: 0px;
    position: absolute;
    border: 1px solid;
}

mat-grid-list.electivas-table.mat-grid-list {
    position: static !important;
    /* margin: -10px; */
}

.list{
    top: -5px !important;
    position: relative !important;
    margin: -30px !important;
}

mat-card.name-subject.mat-card {
    margin: -92px !important;
    font-size: 10px !important;
    width: 110px;
    text-align: center;
}

span.subject-text {
    text-transform: uppercase;
}

// mat-drawer.mat-drawer.ng-tns-c4-1.ng-trigger.ng-trigger-transform.mat-drawer-end.mat-drawer-side.ng-star-inserted {
//     width: 15% !important;
// }

// mat-drawer-content.mat-drawer-content {
//     width: 85%;
// }

mat-card.code-subject.mat-card {
    font-size: 12px;
}

mat-card.hc-subject.mat-card {
    font-size: 12px;
}

h5.select {
    text-align: center;
}

mat-form-field.example-form-field.mat-form-field.ng-tns-c10-2.mat-primary.mat-form-field-type-mat-input.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-hide-placeholder.ng-star-inserted.mat-form-field-should-float.mat-form-field-autofilled {
    width: 130px;
}

mat-grid-list.search.mat-grid-list {
    top: -1%;
}

