<mat-toolbar color="primary" class="toolbar">
  <mat-toolbar-row>
    <span>College Name</span>
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>list</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="goToHome()">Inicio</button>
        <!-- <button mat-menu-item (click)="save()">Guardar</button> -->
        <button mat-menu-item (click)="edit=!edit" *ngIf="admin">Editar</button>
        <button mat-menu-item (click)="togglePensumF()">Pensum</button>
        <button mat-menu-item (click)="togglePensumB()">Electivas</button>
      </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<div cdkDropListGroup >
  <mat-drawer-container class="example-container" style="height: 600px !important">
    <mat-drawer mode="side" opened position="end" *ngIf="edit">
      <mat-grid-list cols="2" rowHeight="30px" class="search">
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <span class="search-text">Buscar Materia:</span>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <mat-form-field class="example-form-field" style="width: 130px;">
            <input matInput type="text" [(ngModel)]="input" (keyup)="search(input)">
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <div class="example-container">
        <button mat-button color="primary" (click)="addRestriction()">{{buttonNameAdd}}</button>
        <h5 class="select">Seleccione</h5>
        <div
          cdkDropList
          [cdkDropListData]="searchResult"
          class="example-list"
          style="background-color:#f9f9f9; padding: 8px;"
          (cdkDropListDropped)="drop($event)">
          <div>
            <div class="example-box" *ngFor="let item of searchResult" cdkDrag>
              <mat-card class="subject-card" id="{{item.subject_id}}">
                <mat-grid-list cols="4" rowHeight="15px">
                  <mat-grid-tile [colspan]="3" [rowspan]="1">
                    <mat-card class="code-subject">
                      <span class="subject-text">{{item.subject_code}}</span>
                    </mat-card>
                  </mat-grid-tile>
                  <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-card class="hc-subject">
                      <span>{{item.subject_hc}}</span>
                    </mat-card>
                  </mat-grid-tile>
                </mat-grid-list>
                <mat-grid-list cols="2" rowHeight="20px">
                  <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-card class="name-subject">
                      <span class="subject-text">{{item.subject_name}}</span>
                    </mat-card>
                  </mat-grid-tile>
                </mat-grid-list>
              </mat-card>
            </div>
            <div class="example-box2">
                <mat-card class="subject-card">
                    <mat-grid-list cols="4" rowHeight="15px">
                      <mat-grid-tile [colspan]="3" [rowspan]="1">
                        <mat-card class="code-subject">
                          <span class="subject-text">no</span>
                        </mat-card>
                      </mat-grid-tile>
                      <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-card class="hc-subject">
                          <span>non</span>
                        </mat-card>
                      </mat-grid-tile>
                    </mat-grid-list>
                    <mat-grid-list cols="2" rowHeight="20px">
                      <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <mat-card class="name-subject">
                          <span class="subject-text">no</span>
                        </mat-card>
                      </mat-grid-tile>
                    </mat-grid-list>
                </mat-card>
            </div>
          </div>
        </div>
        <div class="btn-save">
          <button mat-button color="primary" (click)="save()">Guardar</button>
        </div>
      </div>
    </mat-drawer>
    <mat-drawer-content style="height: 657px !important;">
      <mat-spinner style="margin: 0 auto; top: 150px;" color="accent" *ngIf="showLoadder" ></mat-spinner>
      <mat-card class="pensum pensum-back" *ngIf="Show || isBack && !showLoadder">
        <mat-grid-list cols="10" rowHeight="100px">
          <mat-grid-tile [colspan]="10" [rowspan]="1">
            <span> <strong>REPOSITORIO DE ASIGNATURAS ELECTIVAS</strong> </span>
          </mat-grid-tile>
          <!-- <mat-grid-tile [colspan]="5" [rowspan]="2">
            <mat-card>
              <span>UNIDADES CURRICULARES</span>
            </mat-card>
          </mat-grid-tile> -->
          <mat-grid-tile [colspan]="10" [rowspan]="3" style="height: 100% !important">
            <mat-card class="electivas">
              <div
                cdkDropList
                #todoList="cdkDropList"
                [cdkDropListData]="electives"
                class="example-list"
                (cdkDropListDropped)="drop2($event)">
                <mat-grid-list cols="8" rowHeight="30px" class="electivas-table">
                  <mat-grid-tile [colspan]="2" [rowspan]="1" class="row-header">
                    <span>CÓDIGO</span>
                  </mat-grid-tile>
                  <mat-grid-tile [colspan]="4" [rowspan]="1" class="row-header">
                    <span>DENOMINACIÓN</span>
                  </mat-grid-tile>
                  <!-- <mat-grid-tile [colspan]="2" [rowspan]="1" class="row-header">
                    <span>REQUISITO</span>
                  </mat-grid-tile> -->
                </mat-grid-list>
                <div class="example-box2" *ngFor="let item of electives" cdkDrag>
                  <mat-card class="electiva">
                    <mat-grid-list cols="8" rowHeight="80px" class="list">
                      <mat-grid-tile [colspan]="2" [rowspan]="1" class="row-item">
                        <span>{{item.subject_code}}</span>
                      </mat-grid-tile>
                      <mat-grid-tile [colspan]="4" [rowspan]="1" class="row-item">
                        <span>{{item.subject_name}}</span>
                      </mat-grid-tile>
                      <!-- <mat-grid-tile [colspan]="2" [rowspan]="1" class="row-item">
                        <span>0909</span>
                      </mat-grid-tile> -->
                    </mat-grid-list>
                  </mat-card>
                </div>
              </div>
            </mat-card> 
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card>
      <mat-card class="pensum" *ngIf="Show || isFront && !showLoadder">
        <mat-card-content class="pensum-content">
          <!-- <mat-spinner style="margin: 0 auto; top: 150px;" color="accent" *ngIf="showLoadder" ></mat-spinner> -->
          <mat-card class="pensum-header" id="card-pensum">
            <mat-grid-list cols="4" rowHeight="20px">
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                <span class="space"></span>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                <span class="space"></span>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                <span class="space"></span>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="1" [rowspan]="1" class="save-pensum">
                <!--<button mat-button color="primary" (click)="save()">Guardar</button>-->
              </mat-grid-tile>
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                Universidad Rafael Urdaneta
              </mat-grid-tile>
              <mat-grid-tile [colspan]="1" [rowspan]="3">
                <mat-form-field>
                  <input matInput [matDatepicker]="dp" style="text-transform: uppercase;" [value]="pensum.pensum_date" (dateInput)="setDate($event)" [disabled]="!edit">
                  <mat-datepicker-toggle matSuffix [for]="dp" *ngIf="edit" ></mat-datepicker-toggle>
                  <mat-datepicker #dp></mat-datepicker>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2" [rowspan]="1">
                Nombre:___________________
                <!-- <button mat-button color="primary" class="save" (click)="save()">Guardar</button> -->
              </mat-grid-tile>
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                Facultad de {{pensum.faculty_name}}
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2" [rowspan]="1">
                Apellido:___________________
              </mat-grid-tile>
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                Escuela de {{pensum.college_name}}
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2" [rowspan]="1">
                C.I.:_______________________
              </mat-grid-tile>
            </mat-grid-list> 
          </mat-card>
          <mat-card class="pensum-body" id="card-pensum">
            <mat-grid-list cols="20" rowHeight="30px">
              <mat-grid-tile [colspan]="2" [rowspan]="1">
                I SEM
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2" [rowspan]="1">
                II SEM
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2" [rowspan]="1">
                III SEM
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2" [rowspan]="1">
                IV SEM
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2" [rowspan]="1">
                V SEM
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2" [rowspan]="1">
                VI SEM
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2" [rowspan]="1">
                VII SEM
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2" [rowspan]="1">
                VIII SEM
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2" [rowspan]="1">
                IX SEM
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2" [rowspan]="1">
                X SEM
              </mat-grid-tile>
            </mat-grid-list>
            <div class="term-container">
            <!-- <mat-grid-list cols="20" rowHeight="240px">
              <mat-grid-tile [colspan]="2" [rowspan]="2" *ngFor="let item of done.slice(1)" class="term" > -->
                <div *ngFor="let item of done.slice(1)" class="term"> 
                  <app-term [done]="item" (droped)="drop($event)" (clicked)="onClick($event, item)"></app-term>
                 </div>
                 <!-- <div class="term">
                    <div
                    cdkDropList
                    [cdkDropListData]="done"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)">
                  </div>
                 </div>  -->
              <!-- </mat-grid-tile>
            </mat-grid-list> --></div>
          </mat-card>
        </mat-card-content>
      </mat-card>
    </mat-drawer-content>
</mat-drawer-container>
