.example-container {
    width: 100%;
   // height: 657px;
   height: 90%;
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 20px;
}

mat-card.pensum.mat-card {
    margin: 5px;
    border-radius: 0px;
    border: 1px solid;
}

#card-pensum {
    box-shadow: 0 0px 0px 0 transparent;
    border: 1px solid;
    margin: -1px;
    border-radius: 0px;
}

#card-pensum2 {
    box-shadow: 0 0px 0px 0 transparent;
    border: 1px solid;
    margin: -1px;
    border-radius: 0px;
    height: 460px;
}

mat-card-content.pensum-content.mat-card-content {
    margin: -16px;
}

.pensum-footer#card-pensum {
    border: 1px solid transparent;
    margin: 0;
}

mat-card.subject-card.mat-card {
    border: 1px solid;
    padding: 5px;
    margin: 2px;
    width: 90px;
    height: 50px;
    border-radius: 0px;
}

// .example-list {
//     width: 101px;
//     height: 100%;
//     border: solid 1px transparent;
//     // background: #f9f9f9;
//     border-radius: 4px;
//     display: block;
// }

.example-list{
    /* width: 63px; */
    /* height: 100%; */
    /* border: solid 1px transparent; */
    /* border-radius: 4px; */
    /* display: block; */
    text-align: -webkit-center;
}

.subjects-column {
    padding: 5px;
}


/* Add application styles & imports to this file! */


.title {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #405065;
    font-size: 36px;
    font-weight: bold;
    line-height: 49px;
  }
  .customBox {
    margin-top: 5%;
    padding: 8px 100px;
    box-shadow: 0 10px 40px 0 #B0C1D9;
    width: 270px;

  }
  
  .alignleft {
    float: left;
  }
  
  .alignright {
    position: relative;
    left: 340px;
    top: -28px;
  }

  .afterright{
    position: relative;
    left: 690px;
    top: -110px;
  }
  
  .connectingConnectorLabel {
      height: 23px;
      width: 110px;
      border-radius: 13px;
      color: #FFFFFF;
      text-align: center;
      z-index:3 !important;
      left: 50% !important;
      background-color: #456;
  }

  .pensum-back{
    height: 630px;
  }

  mat-card.electivas.mat-card {
    // height: 99%;
    // border: 1px solid;
    width: 100%;
    border-radius: 0px;
    box-shadow: 0 0px 0px 0px rgba(0,0,0,.2), 0 0px 0px 0 rgba(0,0,0,.14), 0 0px 0px 0 rgba(0,0,0,.12) !important;
    left: 100px;
}

mat-grid-tile.mat-grid-tile.electivas-table {
    position: fixed !important;
    height: calc(395px) !important;
    top: calc(180px) !important;
    width: calc(((10% - 13.9px) * 10) + 10px) !important;
    left: -39px !important;
}

mat-grid-tile.mat-grid-tile.row-header {
    border: 1px solid;
    height: 61px !important;
}

mat-grid-tile.mat-grid-tile.row-item {
    border: 1px solid;
    height: calc(40px) !important;
}

mat-card.electiva.mat-card {
    border-radius: 0px;
    box-shadow: none;
    height: 40px;
    width: 100%;
    right: 0px;
    /* top: 102px; */
    padding: 31px;
    margin: 0px;
    position: absolute;
    /* border: 1px solid; */
    text-transform: uppercase;
    // border-radius: 0px;
    // box-shadow: none;
    // height: 40px;
    // width: 100%;
    // /* margin: 0px; */
    // right: 0px;
    // position: absolute;
    // border: 1px solid;
    // text-transform: uppercase;
}

// .example-list {
//     margin: -1px;
// }

mat-grid-list.electivas-table.mat-grid-list {
    position: static !important;
    /* margin: -10px; */
}

.list{
    top: -5px !important;
    position: relative !important;
    margin: -30px !important;
}

mat-card.name-subject.mat-card {
    margin: -28px !important;
    font-size: 9px !important;
    width: 140px;
    text-align: center;
}

span.subject-text {
    text-transform: uppercase;
}

// mat-drawer.mat-drawer.ng-tns-c4-1.ng-trigger.ng-trigger-transform.mat-drawer-end.mat-drawer-side.ng-star-inserted {
//     width: 15% !important;
// }

// mat-drawer-content.mat-drawer-content {
//     width: 85%;
// }

mat-card.code-subject.mat-card {
    font-size: 12px;
}

mat-card.hc-subject.mat-card {
    font-size: 12px;
}

h5.select {
    text-align: center;
}

mat-form-field.example-form-field.mat-form-field.ng-tns-c10-2.mat-primary.mat-form-field-type-mat-input.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-hide-placeholder.ng-star-inserted.mat-form-field-should-float.mat-form-field-autofilled {
    width: 130px;
}

.term-container::after{
    content: "";
    display: table;
    clear: both;
}

.term{
    float: left;
    width: 10%;
    padding: 10px;
}

// .example-list{
//     background-color: rgba(233, 232, 232, 0.5);
// }

.example-box3.cdk-drag.ng-star-inserted {
    height: 124px;
    padding: 20px;
    height: 100%;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

button.mat-button.mat-primary.save {
    position: relative;
    left: 120px;
}

mat-toolbar.toolbar {
    background-color: #155193;
    color: white;
}

.save-pensum{
    left: calc(((25% - 0.75px) + 35px) * 3) !important;
    top: -8px !important;
}

.btn-save {
    position: absolute;
    bottom: 0%;
    width: 100%;
    background-color: #d0d3d6;
}

.example-box2 {
    visibility: hidden;
}

mat-icon.example-icon.focus.mat-icon.material-icons.mat-icon-no-color {
    padding: 0px;
}

.notfound {
    max-width: 90px;
    width: 90px;
    word-break: break-word;
}

svg.jtk-connector {
    cursor: pointer !important;
}

.pensum-name-header {
    text-transform: uppercase;
    font-size: 11px;
}

.term10.cdk-drag {
    position: fixed;
    float: left;
    -webkit-transform: translate3d(0px, -6px, 0px) !important;
    transform: translate3d(0px, 336px, 0px) !important;
    // left: 78.5%; //89.5%
}

img.img-sidenav {
    margin: 0px;
    position: fixed;
    top: 56%;
    height: 45%;
}

span.title-pem {
    writing-mode: vertical-lr;
    font-size: 22px;
    position: absolute;
    color: #484848;
    left: 35%;
    top: 13px;
    text-shadow: 1px 2px 2px #cccccc;
}