/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.example-spacer {
    flex: 0 1 auto;
    //flex: 1 1 auto;
}

.mat-progress-spinner.mat-accent circle, .mat-spinner.mat-accent circle {
    stroke: #325c95 !important;
}

mat-list-item.mat-list-item.ng-star-inserted {
    //height: 150px;
    height: 107px;
}

mat-toolbar.toolbar.mat-toolbar.mat-toolbar-single-row {
    background-color: #155193;
    color: white;
    z-index: 999;
    position: fixed;
    width: 100%;
    //width: 77%;
}

.example-tooltip {
    margin-top: 16px;
    cursor: pointer;
}
  
.example-tooltip-red {
    background: #b71c1c;
}

.example-tooltip-blue {
    background: #3489f8;
}

button:focus {
    outline: 0px auto -webkit-focus-ring-color !important;
}

.form-control:disabled, .form-control[readonly] {
    background-color: transparent !important;
}

.component-container::after{
    content: "";
    display: table;
    clear: both;
}

.menu {
    float: left;
    width: 25%;
    height: 657px;
    padding: 10px;
    border: 1px solid #ecebeb;
    position: fixed;
    z-index: 9999;
}

.container2 {
    float: left;
    width: 75%;
    position: relative;
    height: 657px;
    margin: -4px
}

mat-drawer-container.example-container.mat-drawer-container {
    height: 655px;
}

.header{
    position: fixed;
    z-index: 999;
    background-color: white;
    width: 100%;
    height: 20%;
    text-align: center;
}

h5.example-tooltip, h6{
    text-transform: uppercase;
}

mat-card.name-subject.mat-card {
    margin: -28px !important;
    font-size: 8px !important;
    width: 140px;
    text-align: center;
}

input {
    text-transform: uppercase !important;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: transparent!important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem transparent !important;
}

label {
    /* color: black; */
    font-weight: initial;
}

.not-found-list.ng-star-inserted {
    margin: 20%;
    left: 20%;
    position: relative;
}

.dialog-header {
    color: white;
    background-color: #0e3764;
}

button.close {
    color: white;
    position: relative;
    left: 30%;
}

h4.header-title, .mat-select-value, span.mat-option-text, span.pensum-name, .notfound {
    text-transform: uppercase;
}

.tooltip-help {
    word-break: break-word;
    font-size: 12px;
}

#menu-vert {
    top: 20%; 
    position: sticky;
}

select {
    text-transform: uppercase;
}


