.container.colleges {
    position: relative;
    top: 20px;
    right: 45px;
}

.example-icon {
    padding: 0 24px;
}
  
.example-spacer {
    flex: 1 1 auto;
}

.colleges-created {
    top: 20px;
    position: relative;
}

.card-college {
    width: 100%;
}

mat-list-item.list-college.mat-list-item {
    height: 300px;
}
