<div class="component-container">
<app-menu class="menu" *ngIf="faculty" 
(faculty)="faculties()" (college)="collegess()" (subject)="subjects()" 
(department)="departments()" (user)="users()" (pensum)="pensum()"
[ngStyle]="{'visibility': isCollege ? 'hidden' : (!isCollege ? 'visible' : null)}"
></app-menu>
<div class="contanier2" *ngIf="!Show" style="position: relative; left: 10%;">
    <app-colleges *ngIf="isCollege"></app-colleges> 
    <app-faculties *ngIf="isFaculty"></app-faculties>
    <app-subjects *ngIf="isSubject"></app-subjects>
    <app-departments *ngIf="isDepartment"></app-departments>
    <app-users *ngIf="isUser"></app-users>
    <app-pensums *ngIf="isPensum"></app-pensums>
</div>
<div *ngIf="faculty" class="header" style="left: 120px;top: 30px;"><h2 class="title">Universidad Rafael Urdaneta</h2></div>
<div class="container2" *ngIf="Show" [ngStyle]="{'width': faculty ? '75%' : (!faculty ? '100%' : null), 'left': faculty ? '26%' : (!faculty ? '0%' : null),
'top': faculty ? '90px' : (!faculty ? '0px' : null)
}">
  <!-- <app-faculties *ngIf="isFaculty || Show"></app-faculties> -->
  <!-- 'left': faculty ? '10%' : (!faculty ? '0%' : null) -->
    <mat-toolbar color="primary" class="toolbar">
      <span>{{title}}</span>
      <span class="example-spacer"></span>
      <button mat-icon-button (click)="openCollege()" matTooltip="Crear escuela"
      matTooltipClass="example-tooltip-blue"
      aria-label="Button that shows a red tooltip"
      class="example-tooltip" *ngIf="admin" class="focus">
        <mat-icon class="example-icon focus">add_box</mat-icon>
      </button>
    </mat-toolbar>
    <div class="colleges-created">
      <mat-list>
        <mat-spinner style="margin: 0 auto; top: 150px;" color="accent" *ngIf="showLoadder" ></mat-spinner>
        <mat-list-item class="list-college" *ngFor="let college of colleges" >
          <mat-card *ngIf="!showLoadder" class="card-college">
                <mat-grid-list cols="5" rowHeight="100px">
                  <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <h5
                    matTooltip="Ver departamento"
                    matTooltipClass="example-tooltip-red"
                    aria-label="Button that shows a red tooltip"
                    class="example-tooltip"
                    (click)="goToDepartments(college)"
                    ><strong>{{college.college_name}}</strong></h5>
                  </mat-grid-tile>
                  <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <h6>Código de la facultdad: {{college.college_code}}</h6>
                  </mat-grid-tile>
                  <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button mat-button [matMenuTriggerFor]="menu" *ngIf="admin" class="btn-menu">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="deleteCollege(college)">
                        <mat-icon>delete</mat-icon>
                        <span>Eliminar</span>
                      </button>
                      <button mat-menu-item (click)="openCollege(college)">
                        <mat-icon>create</mat-icon>
                        <span>Editar</span>
                      </button>
                    </mat-menu>
                  </mat-grid-tile>
                </mat-grid-list>
          </mat-card>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>

