<div style="text-align:center;">
  <br/>
  <h1>{{ title }} </h1>
</div>

<div class="container">
  <mat-card class="card">
    <mat-card-header>
      <br>
      <h4 class="center-align">Programas Academicos</h4>
      <br>
      <br>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-12">
          <form>
            <div class="form-group">
              <div class="row">
                <div class="col col-3">
                  <label for="username">Nombre:</label>              
                </div>
                <div class="col col-8">
                  <div class="md-form">
                    <input type="text" class="form-control name">
                  </div>
                </div>
                <div class="col col-3">
                  <label for="username">Apellido:</label>              
                </div>
                <div class="col col-8">
                  <div class="md-form">
                    <input type="text" class="form-control lastname">
                  </div>
                </div>
                <div class="col col-3">
                  <label for="username">Username:</label>              
                </div>
                <div class="col col-8">
                  <div class="md-form">
                    <input type="text" class="form-control username">
                  </div>
                </div>
                <div class="col col-3">
                  <label for="username">Correo:</label>              
                </div>
                <div class="col col-8">
                  <div class="md-form">
                    <input type="text" class="form-control email">
                  </div>
                </div>            
                <div class="col-3">
                  <label for="password">Contraseña:</label>
                </div>
                <div class="col col-8">
                  <div class="md-form">
                    <input type="password" class="form-control password">          
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-12">
          <div>
            <button type="button" mat-button class="btn-primary btn-block" >ACEPTAR</button>
          </div>
          <div class="offset-3">
            ¿Eres un Usuario? 
            <a routerLink="/" role="button"> Ingresa!</a>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>



  <!--  <div class="row">
      <div class="col-md-4 offset-md-4 card">
        <div class="card-content">
          <br>
          <h4 class="center-align" align="center">Programas Academicos</h4>
          <br>
          <div class="row">
            <label for="" class="offset-md-1">Name:</label>
            <input type="text" name="name" class="form-control col-md-6 offset-md-1">       
          </div>
          <br>
          <div class="row">
              <label for="" class="offset-md-1">Lastname: </label>
              <input type="password" name="name" class="form-control col-md-6 offset-md-1">       
          </div>
          <br>
          <div class="row">
              <label for="" class="offset-md-1">Username: </label>
              <input type="password" name="name" class="form-control col-md-6 offset-md-1">       
          </div>
          <br>
          <div class="row">
              <label for="" class="offset-md-1">Email: </label>
              <input type="password" name="name" class="form-control col-md-6 offset-md-1">       
          </div>
          <br>
          <div class="row">
              <label for="" class="offset-md-1">Password: </label>
              <input type="password" name="name" class="form-control col-md-6 offset-md-1">       
          </div>
          <br>
          <div class="row">
            <button class="btn-primary offset-md-5">ACEPTAR</button>
          </div>
          <br>
          <div class="row offset-3">
            ¿Eres un Usuario? 
            <a routerLink="/" role="button"> Ingresa!</a>
          </div>
          <br>
        </div>
      </div>
    </div> -->
    

    