<div class="container">
  <mat-card class="card">
    <mat-card-content>
      <div class="row">
        <div class="col-12">
          <form>
            <div class="form-group">
              <div class="row">
                <div class="col col-3">
                  <label for="username">Nombre:</label>              
                </div>
                <div class="col col-8">
                  <div class="md-form">
                    <input type="text" class="form-control name" [(ngModel)]="user.name" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="col col-3">
                  <label for="username">Apellido:</label>              
                </div>
                <div class="col col-8">
                  <div class="md-form">
                    <input type="text" class="form-control lastname" [(ngModel)]="user.lastname" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="col col-3">
                  <label for="username">Username:</label>              
                </div>
                <div class="col col-8">
                  <div class="md-form">
                    <input type="text" class="form-control username" [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>           
                <div class="col-3">
                  <label for="password">Contraseña:</label>
                </div>
                <div class="col col-8">
                  <div class="md-form">
                    <input type="password" class="form-control password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}">          
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-12">
          <div>
            <button type="button" mat-button class="btn-primary btn-block" (click)="signUp()">ACEPTAR</button>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>