<div class="register-header">
  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <h4>Crear Usuario</h4>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <button type="button" class="close" aria-label="Close" (click)="onClose()">
        <span aria-hidden="true">×</span> 
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div class="register-body">
  <mat-grid-list cols="5" rowHeight="80px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <label for="college-name">Nombre:</label>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="1"> 
    <mat-form-field>
        <input matInput type="text"  class="form-control user-name" [(ngModel)]="user.user_name" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <label for="college-name">Apellido:</label>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="1"> 
    <mat-form-field>
        <input matInput type="text"  class="form-control user-lastname" [(ngModel)]="user.user_lastname" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <label for="college-name">Username:</label>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="1"> 
    <mat-form-field>
        <input matInput type="text"  class="form-control user-username" [(ngModel)]="user.user_username" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <label for="college-name">Contraseña:</label>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="1"> 
    <mat-form-field>
        <input matInput type="password"  class="form-control user-password" [(ngModel)]="user.user_password" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="1"> 
      <div class="btn-createUser">
        <button type="button" class="btn" mdbBtn color="info" mdbWavesEffect (click)="signUp()">Crear Usuario</button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
