<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
      <mat-card class="side-card">
          <mat-card-content>
            <mat-card class="img">
              <img src="file:///C:/Users/administrador/val/syllabusManager/src/assets/imgs/close-up-of-employee-with-computer-keyboard_1098-2019.jpg" alt="">
            </mat-card>
              <div class="row">
                <div class="col col-sm-12">
                  <mat-nav-list>
                    <mat-divider></mat-divider>
                    <mat-action-list>
                      <button mat-list-item  (click)="toggleColleges()">Escuela</button>
                    </mat-action-list>
                    <mat-action-list>
                      <button mat-list-item  (click)="toggleSubjects()">Materia</button>
                    </mat-action-list>
                    <mat-action-list>
                      <button mat-list-item  (click)="toggleFaculties()">Facultad</button>
                    </mat-action-list>
                    <mat-action-list>
                      <button mat-list-item (click)="toggleDepartments()" >Departamento</button>
                    </mat-action-list>
                    <mat-action-list>
                      <button mat-list-item >Pensum</button>
                    </mat-action-list>
                    <mat-action-list>
                      <button mat-list-item  (click)="toggleUser()">Usuarios</button>
                    </mat-action-list>
                    <mat-action-list>
                      <button mat-list-item class="btn-danger" (click)="logout();">Cerrar Sesion</button>
                    </mat-action-list>
                  </mat-nav-list>  
                </div>
              </div>
            </mat-card-content>
          </mat-card>
  </mat-drawer>
  <mat-drawer-content>
    <br>
    <mat-grid-list cols="1" rowHeight="50px">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <!-- <mat-toolbar>My App</mat-toolbar> -->
        <h2 class="title">Universidad Rafael Urdaneta</h2>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="50" rowHeight="400px">
      <div class="row">
        <div class="col">
          <!-- <app-signup *ngIf="Show || isRegister" ></app-signup> -->
          <app-colleges *ngIf="Show || isCollege"></app-colleges>
          <app-faculties *ngIf="Show || isFaculty"></app-faculties>
          <app-subjects *ngIf="Show || isSubject"></app-subjects>
          <app-departments *ngIf="Show || isDepartment"></app-departments>
          <app-users *ngIf="Show || isUser"></app-users>
        </div>
      </div>
    </mat-grid-list>
  </mat-drawer-content>
</mat-drawer-container>
  