<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
      <app-menu></app-menu>
  </mat-drawer>
  <mat-drawer-content>
    <br>
    <mat-grid-list cols="1" rowHeight="60px">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <!-- <mat-toolbar>My App</mat-toolbar> -->
        <div class="header"><h2 class="title">Universidad Rafael Urdaneta</h2></div>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="50" rowHeight="400px">
      <div class="row">
        <div class="col">
          <div class="home">
            <div class="container">
                <mat-toolbar class="toolbar">
                    <span>Buscador</span>
                    <span class="example-spacer"></span>
                  </mat-toolbar>
            </div>
            <div class="content">
              <mat-card>
                <mat-card-content>
                  <div class="container" >
                    <div class="search">
                            <mat-grid-list cols="5" rowHeight="85px">
                                <mat-grid-tile [colspan]="2" [rowspan]="1">
                                  <label class="label">Busqueda general:</label>
                                </mat-grid-tile>
                                <mat-grid-tile class="grid" [colspan]="2" [rowspan]="1">
                                  <mat-form-field>
                                    <input matInput type="text" class="form-control" [(ngModel)]="input" (keyup)="search(input)">
                                  </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile [colspan]="2" [rowspan]="1">
                                  <label class="label">Facultad:</label>
                                </mat-grid-tile>
                                <mat-grid-tile class="grid" [colspan]="2" [rowspan]="1">
                                  <mat-form-field class="select-faculty">
                                    <mat-select>
                                      <mat-option></mat-option>
                                      <mat-option *ngFor="let faculty of faculties" [value]=faculty.faculty_id (click)="getFacultyColleges(faculty)">{{faculty.faculty_name}}</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile class="grid-2" [colspan]="1" [rowspan]="4">
                                  <mat-card class="list-card">
                                    <div *ngIf="!found" class="not-found">
                                      <h5>No se encuentra</h5>
                                    </div>
                                    <mat-list *ngIf="found" >
                                      <mat-spinner style="margin: 0 auto; top: 150px;" color="accent" *ngIf="showLoadder" ></mat-spinner>
                                      <mat-list-item class="list-home" style="height: auto;" *ngFor="let subject of searchResult" (click)="openSubject(subject)">
                                        <button #tooltip="matTooltip"
                                          matTooltip="Ver materia"
                                          matTooltipPosition="right"
                                          matTooltipClass="example-tooltip-blue"
                                          class="btn search-subject">
                                          {{subject.subject_name}}
                                        </button> 
                                      </mat-list-item>
                                    </mat-list>
                                  </mat-card>
                                </mat-grid-tile>
                                <mat-grid-tile [colspan]="2" [rowspan]="1">
                                  <label class="label">Escuela:</label>
                                </mat-grid-tile>
                                <mat-grid-tile class="grid" [colspan]="2" [rowspan]="1">
                                  <mat-form-field class="select-collage">
                                    <mat-select *ngIf="!facultyColleges">
                                      <mat-option></mat-option>
                                      <mat-option *ngFor="let college of colleges" [value]=college.college_id (click)="getCollegeDepartments(college)">{{college.college_name}}</mat-option>
                                    </mat-select>
                                    <mat-select *ngIf="facultyColleges">
                                      <mat-option></mat-option>
                                      <mat-option *ngFor="let college of facultyColleges" [value]=college.college_id (click)="getCollegeDepartments(college)">{{college.college_name}}</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile [colspan]="2" [rowspan]="1">
                                  <label class="label">Departamento:</label>
                                </mat-grid-tile>
                                <mat-grid-tile class="grid" [colspan]="2" [rowspan]="1">
                                  <mat-form-field class="select-deparment">
                                    <mat-select>
                                      <mat-option></mat-option>
                                      <mat-option *ngFor="let department of collegeDepartments" [value]=department.department_id (click)="getDepartmentSubjects(department)">{{department.department_name}}</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile [colspan]="2" [rowspan]="1">
                                  <label class="label">Fecha del Pensum:</label>
                                </mat-grid-tile>
                                <mat-grid-tile class="grid" [colspan]="2" [rowspan]="1">
                                  <mat-form-field class="select-faculty">
                                    <mat-select *ngIf="!collegePensum" >
                                        <mat-option></mat-option>
                                        <mat-option *ngFor="let pensum of pensums" [value]=pensum.pensum_id (click)="getPensumSubjects(pensum)">{{pensum.college_name}}-{{pensum.pensum_date}}</mat-option>
                                    </mat-select>
                                    <mat-select *ngIf="collegePensum" >
                                      <mat-option></mat-option>
                                      <mat-option *ngFor="let pensum of collegePensum" [value]=pensum.pensum_id (click)="getPensumSubjects(pensum)">{{pensum.pensum_date}}</mat-option>
                                  </mat-select>
                                  </mat-form-field>
                                </mat-grid-tile>
                              </mat-grid-list>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </mat-grid-list>
  </mat-drawer-content>
</mat-drawer-container>
  