<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center;">
<br/>
  <h1>{{ title }} </h1>
</div>

<div class="row">
  <div class="col-md-4 offset-md-4 card">
    <div class="card-content">
      <br>
      <h4 class="center-align" align="center">Programas Academicos</h4>
      <br>
      <div class="row">
        <label for="" class="offset-md-1">Username:</label>
        <input type="text" name="name" class="form-control col-md-6 offset-md-1">       
      </div>
      <br>
      <div class="row">
          <label for="" class="offset-md-1">Password: </label>
          <input type="password" name="name" class="form-control col-md-6 offset-md-1">       
      </div>
      <br>
      <div class="row">
        <button class="btn-primary offset-md-5">ACEPTAR</button>
      </div>
      <br>
      <div class="row offset-3">
        ¿Nuevo Usuario?  <a href="login.component.html">  Resgistrate!</a>
      </div>
      <br>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
