<div class="container subjects" >
    <mat-toolbar color="primary">
      <span>Subjects</span>
      <span class="example-spacer"></span>
      <button mat-icon-button (click)="openSubject()">
        <mat-icon class="example-icon">add_box</mat-icon>
      </button>
    </mat-toolbar>
    <div class="subjects-created">
      <mat-list>
        <mat-list-item class="list-subject" *ngFor="let subject of subjects" >
          <mat-card class="card-subject">
            <mat-card-header>
              <mat-card-title>
                {{subject.subject_name}}
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-grid-list cols="3" rowHeight="150px">
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                      <img class="img-subject" src="https://1.bp.blogspot.com/-CPY0iSr-jlU/Wh4VH0J9lhI/AAAAAAAABIA/h_ILn0EdN-QpVg9ZVBzs67BoupyZ2pKOQCLcBGAs/s750/Ingenieria_electrica_principios.jpg" alt="">
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                      {{subject.subject_name}}
                      {{subject.subject_code}}
                      Faculty
                    </mat-grid-tile>
                  </mat-grid-list>
            </mat-card-content>
            <mat-card-actions>
              <mat-icon mat-icon-button class="example-icon" (click)="deleteSubject(subject)">delete</mat-icon>
            </mat-card-actions>
            <mat-card-actions>
              <mat-icon mat-icon-button class="example-icon" (click)="getSyllabus(subject)">VER PROGRAMA DE ESTUDIOS</mat-icon>
            </mat-card-actions>
          </mat-card>
        </mat-list-item>
        <mat-divider></mat-divider>
        </mat-list>
      </div>
  </div>
