

.example-icon {
   margin: 4px;
}

.subjects-created {
    position: relative;
    top: 60px;
}

.card-subject {
    width: 100%;
    box-shadow: 0 2px 4px 1px rgba(0,0,0,0.3) !important;
    border-radius: 0px;
    padding: 0px;
    text-align: center;
}

mat-card.name-subject.mat-card {
    margin: -92px !important;
    font-size: 10px !important;
}

span.subject-text {
    text-transform: uppercase;
}
