
    <div class="row">
      <div class="col-md-4 offset-md-4 card">
        <div class="card-content">
          <br>
          <h4 class="center-align" align="center">Programas Academicos</h4>
          <br>
          <div class="row">
            <label for="" class="offset-md-1">Name:</label>
            <input type="text" name="name" class="form-control col-md-6 offset-md-1">       
          </div>
          <br>
          <div class="row">
              <label for="" class="offset-md-1">Lastname: </label>
              <input type="password" name="name" class="form-control col-md-6 offset-md-1">       
          </div>
          <br>
          <div class="row">
              <label for="" class="offset-md-1">Username: </label>
              <input type="password" name="name" class="form-control col-md-6 offset-md-1">       
          </div>
          <br>
          <div class="row">
              <label for="" class="offset-md-1">Email: </label>
              <input type="password" name="name" class="form-control col-md-6 offset-md-1">       
          </div>
          <br>
          <div class="row">
              <label for="" class="offset-md-1">Password: </label>
              <input type="password" name="name" class="form-control col-md-6 offset-md-1">       
          </div>
          <br>
          <div class="row">
            <button class="btn-primary offset-md-5">ACEPTAR</button>
          </div>
          <br>
          <div class="row offset-3">
            ¿Eres un Usuario?  <a href="">  Ingresa!</a>
          </div>
          <br>
        </div>
      </div>
    </div>
    
    <router-outlet></router-outlet>
    