<div class="container users" >
  <mat-toolbar color="primary">
    <span>USUARIOS</span>
    <span class="example-spacer"></span>
    <button mat-icon-button (click)="openRegister()">
      <mat-icon class="example-icon">add_box</mat-icon>
    </button>
  </mat-toolbar>
  <div class="users-created">
    <mat-list>
      <mat-list-item class="list-user" *ngFor="let user of users">
        <mat-card class="card-user">
          <mat-card-header>
            <mat-card-title>
              {{user.user_name}}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
              <mat-grid-list cols="3" rowHeight="150px">
                  <mat-grid-tile [colspan]="2" [rowspan]="1">
                    {{user.user_name}} 
                    {{user.user_lastname}}
                    {{user.user_username}}
                  </mat-grid-tile>
                </mat-grid-list>
          </mat-card-content>
          <mat-card-actions>
            <mat-icon mat-icon-button class="example-icon" (click)="deleteUser(user)">delete</mat-icon>
            <mat-icon mat-icon-button class="example-icon" (click)="openRegister(user)">create</mat-icon>
          </mat-card-actions>
        </mat-card>
      </mat-list-item>
      <mat-divider></mat-divider>
      </mat-list>
    </div>
</div>
