

.example-icon {
    padding: 0 24px;
}
  
.example-spacer {
    flex: 1 1 auto;
}

.colleges-created {
    top: 20px;
    position: relative;
}

.card-user{
    width: 100%;
}

mat-list-item.list-user.mat-list-item {
    height: 300px;
}
