<!-- <div class="container pensums" > -->
<mat-drawer mode="side" opened>
   <app-menu></app-menu>
</mat-drawer>
  <mat-toolbar class="toolbar">
    <span>Pensum</span>
    <span class="example-spacer"></span>
    <button mat-icon-button (click)="openPensum()" matTooltip="Crear pensum"
    matTooltipClass="example-tooltip-blue"
    aria-label="Button that shows a red tooltip" *ngIf="admin">
      <mat-icon class="example-icon">add_box</mat-icon>
    </button>
  </mat-toolbar>
  <div class="pensums-created">
    <mat-list>
      <mat-spinner style="margin: 0 auto; top: 150px;" color="accent" *ngIf="showLoadder" ></mat-spinner>
      <mat-list-item class="list-pensum" *ngFor="let pensum of pensums">
        <mat-card *ngIf="!showLoadder" class="card-pensum">
          <mat-grid-list cols="10" rowHeight="100px">
            <mat-grid-tile [colspan]="4" [rowspan]="1">
              <h5
                matTooltip="Ver pensum"
                matTooltipClass="example-tooltip-red"
                aria-label="Button that shows a red tooltip"
                class="example-tooltip"
                (click)="goToPensum(pensum)"
              ><strong>{{pensum.college_name}}</strong></h5>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <h6>Faculdtad: {{pensum.faculty_name}}</h6>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <h6> Fecha: {{pensum.pensum_date}}</h6>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <button mat-button [matMenuTriggerFor]="menu" *ngIf="admin" class="btn-menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="deletePensum(pensum)">
                  <mat-icon>delete</mat-icon>
                  <span>Eliminar</span>
                </button>
              </mat-menu>
              <!-- <mat-icon mat-icon-button class="example-icon" (click)="deletePensum(pensum)" *ngIf="admin">delete</mat-icon> -->
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card>
      </mat-list-item>
    </mat-list>
  </div>
<!-- </div> -->
