<div style="text-align:center;">
  <br/>
  <h1>{{ title }} </h1>
</div>

<div class="container">
  <mat-card class="card">
    <mat-card-header>
      <br>
      <h4 class="center-align">Programas Academicos</h4>
      <br>
      <br>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-12">
          <form>
            <div class="form-group">
              <div class="row">
                <div class="col col-3">
                  <label for="username">Usuario:</label>              
                </div>
                <div class="col col-8">
                  <div class="md-form">
                    <input type="text" class="form-control username" [(ngModel)]="user.user_username" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>         
                <div class="col-3">
                  <label for="password">Contraseña:</label>
                </div>
                <div class="col col-8">
                  <div class="md-form">
                    <input type="password" class="form-control password" [(ngModel)]="user.user_password" [ngModelOptions]="{standalone: true}">          
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-12">
          <div>
            <button type="button" mat-button class="btn-primary btn-block" (click)="login();">ACEPTAR</button>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

