<div class="component-container">
<app-menu class="menu" *ngIf="college" 
(faculty)="faculties()" (college)="collegess()" (subject)="subjects()" 
(department)="department()" (user)="users()" (pensum)="pensum()"
[ngStyle]="{'visibility': isDepartment ? 'hidden' : (!isDepartment ? 'visible' : null)}"
></app-menu>
<div class="contanier2" *ngIf="!Show" style="position: relative; left: 10%">
    <app-colleges *ngIf="isCollege"></app-colleges> 
    <app-faculties *ngIf="isFaculty" ></app-faculties>
    <app-subjects *ngIf="isSubject"></app-subjects>
    <app-departments *ngIf="isDepartment"></app-departments>
    <app-users *ngIf="isUser"></app-users>
    <app-pensums *ngIf="isPensum"></app-pensums>
</div>
<div *ngIf="college" class="header" style="left: 120px;top: 30px;"><h2 class="title">Universidad Rafael Urdaneta</h2></div>
<div class="container2" *ngIf="Show"
  [ngStyle]="{'width': college ? '75%' : (!college ? '100%' : null), 'left': college ? '26%' : (!college ? '0%' : null),
  'top': college ? '90px' : (!college ? '0px' : null)
}"> 
    <mat-toolbar color="primary" class="toolbar">
      <span>{{title}}</span>
      <span class="example-spacer"></span>
      <button mat-icon-button (click)="openDepartment()" matTooltip="Crear departamento"
      matTooltipClass="example-tooltip-blue"
      aria-label="Button that shows a red tooltip" *ngIf="admin">
        <mat-icon class="example-icon">add_box</mat-icon>
      </button>
    </mat-toolbar>
    <div class="departments-created">
      <mat-list>
        <mat-spinner style="margin: 0 auto; top: 150px;" color="accent" *ngIf="showLoadder" ></mat-spinner>
        <mat-list-item class="list-depart" *ngFor="let department of departments" >
          <mat-card *ngIf="!showLoadder" class="card-depart">
            <mat-grid-list cols="10" rowHeight="100px">
              <mat-grid-tile [colspan]="4" [rowspan]="1">
                <h5
                  matTooltip="Ver materias"
                  matTooltipClass="example-tooltip-red"
                  aria-label="Button that shows a red tooltip"
                  class="example-tooltip"
                  (click)="goToSubjects(department)"
                ><strong>Departamento de {{department.department_name}}</strong></h5>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="3" [rowspan]="1">
                <h6>Código del Departamento: </h6>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="3" [rowspan]="1">
                <button mat-button [matMenuTriggerFor]="menu" *ngIf="admin" class="btn-menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="deleteDepartment(department)">
                    <mat-icon>delete</mat-icon>
                    <span>Eliminar</span>
                  </button>
                  <button mat-menu-item (click)="openDepartment(department)" >
                    <mat-icon>create</mat-icon>
                    <span>Editar</span>
                  </button>
                </mat-menu>
                <!-- <mat-icon mat-icon-button class="example-icon" (click)="deleteDepartment(department)" *ngIf="admin">delete</mat-icon>
                <mat-icon mat-icon-button class="example-icon" (click)="openDepartment(department)" *ngIf="admin">create</mat-icon> -->
              </mat-grid-tile>
            </mat-grid-list>
            <!--<mat-card-content>
                 {{department.department_name}}
                <mat-grid-list cols="3" rowHeight="150px">
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                      {{department.department_name}}
                      Department Belong to ,
                      Department Code,
                    </mat-grid-tile>
                  </mat-grid-list> 
            </mat-card-content>-->
            <!-- <mat-card-actions>
              <mat-icon mat-icon-button class="example-icon" (click)="deleteDepartment(department)">delete</mat-icon>
              <mat-icon mat-icon-button class="example-icon" (click)="openDepartment(department)">create</mat-icon>
            </mat-card-actions> -->
          </mat-card>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
