

.card-depart {
    width: 100%;
    box-shadow: 0 2px 4px 1px rgba(0,0,0,0.3) !important;
    border-radius: 0px;
}

.departments-created {
    /* margin-top: 1px; */
    /* padding: 60px; */
    /* width: 86%; */
    /* height: 23%; */
    position: relative;
    top: 60px;
    /* left: 25px; */
}

