
.form-control:focus{
    border-color: transparent !important;
    box-shadow: 0px 0px 0px 0px transparent !important;
}

.form-control{
    border: 0px solid #ced4da;
}

.subject-header {
    background-color: lightgray;
    margin: 15px;
}

label {
    padding: 13px;
    margin: -6px;
    text-align: center;
}

mat-grid-tile.mat-grid-tile.gird-hc {
    left: -13px !important;
}