<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <app-menu></app-menu>
    </mat-drawer>
    <mat-drawer-content>
    <br>
    <mat-grid-list cols="1" rowHeight="60px">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="header"><h2 class="title">Universidad Rafael Urdaneta</h2></div>        
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="50" rowHeight="400px">
      <div class="component-container">
          <mat-toolbar class="toolbar">
            <span>Facultades</span>
            <span class="example-spacer"></span>
            <button mat-icon-button (click)="openFaculty()" matTooltip="Crear facultad"
            matTooltipClass="example-tooltip-blue"s
            aria-label="Button that shows a red tooltip"
            class="example-tooltip" *ngIf="admin">
              <mat-icon class="example-icon">add_box</mat-icon>
            </button>
          </mat-toolbar>
          <div class="faculties-created">
            <mat-list>
              <mat-spinner style="margin: 0 auto; top: 150px;" color="accent" *ngIf="showLoadder" ></mat-spinner>
              <div class="not-found-list" *ngIf="!found">
                <h2>No se pudo encontrar ...</h2>
              </div>
              <div  *ngIf="found">
              <mat-list-item class="list-faculty" *ngFor="let faculty of faculties" >
                <mat-card *ngIf="!showLoadder" class="card-faculty">
                  <mat-grid-list cols="10" rowHeight="100px">
                    <mat-grid-tile [colspan]="4" [rowspan]="1">
                      <h5 
                      matTooltip="Ver escuelas"
                      matTooltipClass="example-tooltip-red"
                      aria-label="Button that shows a red tooltip"
                      class="example-tooltip"
                      (click)="goToColleges(faculty)"
                      ><strong>Facultad de {{faculty.faculty_name}}</strong></h5>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="3" [rowspan]="1">
                      <h6>Código de la Facultad: {{faculty.faculty_code}}</h6>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="3" [rowspan]="1">
                      <button mat-button [matMenuTriggerFor]="menu" *ngIf="admin" class="btn-menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="deleteFaculty(faculty)">
                          <mat-icon>delete</mat-icon>
                          <span>Eliminar</span>
                        </button>
                        <button mat-menu-item (click)="openFaculty(faculty)">
                          <mat-icon>create</mat-icon>
                          <span>Editar</span>
                        </button>
                      </mat-menu>
                    </mat-grid-tile>
                  </mat-grid-list>
                </mat-card>
              </mat-list-item>
            </div>
            </mat-list>
          </div>
        </div>
    </mat-grid-list>
  </mat-drawer-content>
</mat-drawer-container>