<div class="container">
  <mat-card>
    <mat-card-content>
      <div class="row">
        <div class="col-5">
          <mat-card>
            <mat-card-content>
              <mat-list>
                <mat-action-list>
                  <button mat-list-item><h2>Pensum</h2></button>
                  <hr>
                  <button mat-list-item (click)="open(content)"><h2>Materias</h2></button>
                  <hr>
                </mat-action-list>
              </mat-list>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col">
          <mat-card class="img-career">
            <img mat-card-image src="https://3.bp.blogspot.com/-kAxdOyNd0l8/WT9k-WocHbI/AAAAAAAAE38/23-tfdtimw8N1cdofUwA8SZb2kU8KDUVgCLcB/s1600/cuanto%2Bgana%2Bun%2Bingeniero%2Ben%2Bcomputacion.jpeg" alt="Photo of a Shiba Inu">
          </mat-card>
        </div>
        <div class="col-10 offset-6 info">
          <h3>Nombre: Ingenieria en Computacion</h3>
          <h3>Escuela: Escuela de Ingenieria</h3>
          <h3>COD: 002</h3>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>