
  <mat-card class="side-card">
      <mat-card-content>
        <mat-card class="img">
          <img class="img-sidenav" src="http://localhost:4200/assets/imgs/img-home.jpg" alt="">
          <h6 class="title-menu"> Universidad Rafael Urdaneta</h6>
        </mat-card>
          <div class="row">
            <div class="col col-sm-12">
              <mat-nav-list>
                <mat-divider></mat-divider>
                <mat-action-list [ngStyle]="{'padding-top': !admin ? '15px': (admin ? '8px': null)}">
                  <button mat-list-item  (click)="goToHome()">Inicio</button>
                </mat-action-list>
                <mat-divider></mat-divider>
                <mat-action-list [ngStyle]="{'padding-top': !admin ? '15px': (admin ? '8px': null)}">
                  <button mat-list-item  (click)="goToFaculties()">Facultades</button>
                </mat-action-list>
                <mat-action-list [ngStyle]="{'padding-top': !admin ? '15px': (admin ? '8px': null)}">
                  <button mat-list-item  (click)="goToColleges()">Escuelas</button>
                </mat-action-list>
                <mat-action-list [ngStyle]="{'padding-top': !admin ? '15px': (admin ? '8px': null)}">
                  <button mat-list-item (click)="goToDepartments()" >Departamentos</button>
                </mat-action-list>
                <mat-action-list [ngStyle]="{'padding-top': !admin ? '15px': (admin ? '8px': null)}">
                  <button mat-list-item  (click)="goToSubjects()">Materias</button>
                </mat-action-list>
                <mat-action-list [ngStyle]="{'padding-top': !admin ? '15px': (admin ? '8px': null)}">
                  <button mat-list-item (click)="goToPensum()">Pensum</button>
                </mat-action-list>
                <mat-action-list [ngStyle]="{'padding-top': !admin ? '15px': (admin ? '8px': null)}">
                  <button mat-list-item  *ngIf="admin" (click)="goToUsers()">Usuarios</button>
                </mat-action-list>
                <mat-action-list [ngStyle]="{'padding-top': !admin ? '15px': (admin ? '8px': null)}">
                  <button mat-list-item class="btn-danger" (click)="logout();">Cerrar Sesion</button>
                </mat-action-list>
              </mat-nav-list>  
            </div>
          </div>
        </mat-card-content>
      </mat-card>