.side-nav-container{
    height: 100%;
    box-shadow: 0 1px 8px 5px rgba(187, 187, 187, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    transform: translate(-2%,-2%);
}

.menu { 
    position: fixed;
}

.img-career {
    margin-top: 0px;
    padding: 0px;
    height: 203px;
}

.career-title{
    position: relative;
    left: -15px;
}

h2.title {
    margin: 3%;
}

img.mat-card-image {
    height: 175px;
}

select.mat-input-element {
    -moz-appearance: none;
    -webkit-appearance: none;
    position: relative;
    background-color: transparent;
    display: inline-flex;
    box-sizing: border-box;
    padding-top: 1em;
    top: -1em;
    margin-bottom: -1em;
    border-bottom: 1px solid #ced4da;
}

.btn.btn-lg .fa {
    font-size: 4rem;
}

.mat-input-element {
    padding: 5px;
}

button.btn.btn-lg.btn-addCareer {
    /* border-color: transparent; */
    /* border: none; */
    position: relative;
    left: 75px;
    top: 110px;
}

.mat-form-field-infix {
    width: 303px;
}

.btn-addCareer{
    background-color: transparent;
    border-color: transparent;
}

.container-all {
    max-height: 100%;
}

.input-file {
    border-color: transparent;
}

.btn-logout{
    position: relative;
    top: 65px;
}

.side-nav-container{
    width: 326px;
}

mat-card.mat-card.side-card {
    height: 100%;
}

.mat-drawer-content {
    // position: relative;
    // z-index: 1;
    // display: inline; 
    // overflow: auto;
    background-color: white;
}

mat-card.img.mat-card {
    //background-color: #e6e6ff;
    height: 170px;
    width: 310px;
    border-radius: 0px;
    box-shadow: 0 0px 0px 0px rgba(0,0,0,.2)
}

img.img-sidenav {
    height: 160px;
    margin: 16px;
    top: -5px;
    position: absolute;
}

.header{
    position: fixed;
    /* top: 30px; */
    /* left: -126px; */
    z-index: 999;
    background-color: white;
    width: 100%;
    height: 20%;
    text-align: center;
}

mat-card.career.mat-card {
    width: 100%;
    height: 100%;
    position: relative;
    left: -33px;
    top: 30px;
    box-shadow: 0 1px 8px 5px rgba(187, 187, 187, 0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.example-card{
    max-width: 300px;
    height: 337px;
    box-shadow: 0 0px 8px 0px rgba(80, 80, 80, 0.2);
    border-radius: 5px;
    margin-top: 17px;
    padding: 25px;
}

app-career {
    position: relative;
    top: 30px;
}

.des {
    position: relative;
    top: -23px;
}

input.form-control.cod-deparment {
    position: relative;
    top: -36px;
}

.cod, .cod-deparment{
    width: 90px;
    text-align: center;
}

.select-career{
    width: 300px
}

.img-career{
    position: relative;
    left: 113px;
}

.img-ccarrer{
    height: 149px;
    position: relative;
    top: -17px;
}
.modal.modal-body, .modal-body-2{
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
    overflow-y: scroll !important;
}
.modal-content {
    height: 690px !important;
}
label.faculties {
    position: relative;
    top: 18px;
}
mat-drawer-container.example-container.mat-drawer-container {
    height: 657px;
}
.content {
    padding: 16px;
    position: relative;
    top: 60px;
}
label.label {
    position: relative;
    left: -110px;
}
.grid{
    left: calc(((5% - 0.75px) + 1px) * 2) !important;
    width: calc(((26% - 0.75px) * 2) + 1px) !important;
    /* top: 0px !important; */
    /* height: calc(95px) !important; */
}
.grid-1{
    left: calc(((17% - 0.8px) + 1px) * 4) !important;
}
.grid-2{
    // left: calc(((13% - 0.8px) + 1px) * 4) !important;
    // top: calc(-15px) !important;
    width: calc(((46% - 0.8px) * 1) + 0px) !important;
    left: calc(((14% - 0.8px) + 1px) * 4) !important;
    top: calc(50px) !important;
}
mat-card.list-card.mat-card {
    width: 300px;
    height: 340px;
    overflow-y: scroll;
}

img.img-home {
    position: fixed;
    height: 92px;
    width: 400px;
    top: -3px;
}

mat-toolbar.toolbar.mat-toolbar.mat-toolbar-single-row {
    background-color: #155193;
    color: white;
    z-index: 999;
    position: fixed;
}

mat-list-item.list-home.mat-list-item.ng-star-inserted[_ngcontent-c9] {
    height: 48px !important;
    cursor: pointer;
    margin: 4px;
    box-shadow: 1px 1px 2px 0px #f1ecec;
}